{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <h1>
    {% if session.get('user') %}
        Bienvenido {{ session.get('user') }}, 👋
	<p class="subtitle">                                           Ya podes comenzar a trabajar!! 🚀
	</p>
    {% else %}
        Bienvenido al {{ title }}
	<p class="subtitle">                                           Sé el mejor, Gracias!! 🚀
    </p>
    {% endif %}
    </h1>

    {% if session.get('user') %}
        <a href="/dashboard" class="btn">Ir al Dashboard</a>
    {% else %}
        <a href="/login" class="btn">Iniciar sesión</a>
    {% endif %}
</section>

{% endblock %}
